{% extends 'base.html.twig' %}

{% block title %}Edit BookRead{% endblock %}

{% block body %}
    <h1>Edit BookRead</h1>

    {{ include('book_read/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_book_read_index') }}">back to list</a>

    {{ include('book_read/_delete_form.html.twig') }}
{% endblock %}
