{% extends 'base.html.twig' %}

{% block title %}New BookRead{% endblock %}

{% block body %}
    <h1>Create new BookRead</h1>

    {{ include('book_read/_form.html.twig') }}

    <a href="{{ path('app_book_read_index') }}">back to list</a>
{% endblock %}
